<h4 ng-show="myFriends && myFriends.length" style="text-align:center">¡Descubre donde viajan tus amigos!</h4>
<h4 ng-hide="myFriends && myFriends.length" style="text-align:center"> Parece que tus amigos no están usando la aplicación. Avisales para que puedan compartir viajes! </h4>
<br>

<div class="panel-group" id="friendsAccordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="friend in myFriends">
        <div style="margin-top:10px"  class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" class="collapseOpener" data-toggle="collapse" data-parent="#friendsAccordion" data-open="#{{friend.facebookId}}" aria-expanded="true" aria-controls="collapseOne">
                {{ friend.username }} <i style="display:none; margin-left:10px" class="fa fa-spinner fa-pulse"></i>
              </a>
            </h4>
          </div>
          <div id="{{friend.facebookId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div ng-repeat="trip in friend.tripsBrought">
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-5" ng-init="wt = trip.wayFlights.slice(1).pop()" style="border-right:dotted">
                                <div style="text-align:center"><h4>Ida</h4></div>
                                <div><strong>Origen: </strong><span>{{trip.origin}}</span></div>
                                <div><strong>Destino: </strong><span>{{trip.destiny}}</span></div>
                                <div><strong>Aerolinea: </strong><span>{{wt.airline}}</span></div>
                                <div><strong>Nro Vuelo: </strong><span>{{wt.flightNum}} </span></div>
                                <div><strong>Salida: </strong><span>{{wt.departureTime}}</span></div>
                                <div><strong>Duracion: </strong><span>{{trip.wayDuration}}</span></div>
                            </div>
                            <div class="col-xs-5" ng-init="rt = trip.returnFlights.slice(-1).pop()" style="border-right:dotted">
                                <div style="text-align:center"><h4>Vuelta</h4></div>
                                <div><strong>Origen: </strong><span>{{trip.destiny}}</span></div>
                                <div><strong>Destino: </strong><span>{{trip.origin}}</span></div>
                                <div><strong>Aerolinea: </strong><span>{{rt.airline}}</span></div>
                                <div><strong>Nro Vuelo: </strong><span>{{rt.flightNum}}</span></div>
                                <div><strong>Salida: </strong><span>{{rt.departureTime}}</span></div>
                                <div><strong>Duracion: </strong><span>{{trip.returnDuration}}</span></div>
                            </div>
                            <div class="col-xs-2">
                                <div style="margin-top:39px"><strong>Precio: </strong>${{trip.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>