<h4 ng-show="myTrips && myTrips.length" style="text-align:center">Mis Vuelos</h4>
<h4 ng-hide="myTrips && myTrips.length" style="text-align:center">No hay vuelos guardados :(</h4>
<div style="height:100%">

    <img id="spinner" class="center-block" style="display:none;position:relative;top:calc(50% - 50px);" src="images/spinner.gif" />

    <div ng-repeat="trip in myTrips">
            <div class="well selectableFlight" ng-click="showMap(trip)">
                <div class="row">
                    <div class="col-xs-5" ng-init="wt = trip.wayFlights.slice(1).pop()" style="border-right:dotted">
                        <div style="text-align:center"><h4>Ida</h4></div>
                        <div><strong>Origen: </strong><span>{{trip.origin}}</span></div>
                        <div><strong>Destino: </strong><span>{{trip.destiny}}</span></div>
                        <div><strong>Aerolinea: </strong><span>{{wt.airline}}</span></div>
                        <div><strong>Nro Vuelo: </strong><span>{{wt.flightNum}} </span></div>
                        <div><strong>Salida: </strong><span>{{wt.departureTime}}</span></div>
                        <div><strong>Duracion: </strong><span>{{trip.wayDuration}}</span></div>
                    </div>
                    <div class="col-xs-5" ng-init="rt = trip.returnFlights.slice(-1).pop()" style="border-right:dotted">
                        <div style="text-align:center"><h4>Vuelta</h4></div>
                        <div><strong>Origen: </strong><span>{{trip.destiny}}</span></div>
                        <div><strong>Destino: </strong><span>{{trip.origin}}</span></div>
                        <div><strong>Aerolinea: </strong><span>{{rt.airline}}</span></div>
                        <div><strong>Nro Vuelo: </strong><span>{{rt.flightNum}}</span></div>
                        <div><strong>Salida: </strong><span>{{rt.departureTime}}</span></div>
                        <div><strong>Duracion: </strong><span>{{trip.returnDuration}}</span></div>
                    </div>
                    <div class="col-xs-2">
                        <div style="margin-top:39px"><strong>Precio: </strong>${{trip.price}}</div>
                    </div>
                     <a ng-click="openShareModal(trip);$event.stopPropagation();" class="shareFlight">Compartir!</a>
                </div>
            </div>
        </div>

    <h2 id="error" style="color:red;text-align:center;position:relative;top:calc(50% - 16px)"></h2>
</div>

<div class="modal fade" id="modalMap">
  <div style="height:calc(100% - 73px - 50px)" class="modal-dialog">
    <div style="height:calc(100% - 73px - 50px)" class="modal-content">
      <div style="height:calc(100%)" class="modal-body">
        <div id="mapa"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalShare">
  <div class="modal-dialog" stlye="position:relative">
    <div class="modal-content" style="  margin: 10%;margin-top: 40%;">
      <div class="modal-body">
        <h4>
            Buscá un amigo para recomendarle este vuelo
            <i id="modalSpinner" style="display:none; margin-left:10px" class="fa fa-spinner fa-pulse"></i>
            <i id="modalCheck" style="display:none; margin-left:10px" class="fa fa-check"></i>
        </h4>
        <div>
          <angucomplete-alt id="friendSearch"
                      placeholder="Buscar amigos..."
                      pause="100"
                      selected-object="selectedFriend"
                      local-data="myFriends"
                      search-fields="username"
                      title-field="username"
                      minlength="1"
                      input-class="form-control form-control-small"/>
        </div>
        <a ng-click="selectedFriend && recomendFlightTo(selectedFriend.originalObject)" class="shareFlight">Compartir!</a>
      </div>
    </div>
  </div>
</div>